
<div class="hero-unit">
  <div class="row pagination-centered title-row">
    <h1 id="title" class="hazy">SloanConnect</h1>
  </div>

  <div class="row pagination-centered button-row">
  <%= link_to authorize_path, :method => :post do %>
    <button id="connect">
      <i class="icon-linkedin-sign" ></i> | 
      Connect via LinkedIn
    </button>
  <% end %>
  </div>
</div>



